{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3  {
    text-align: center;
  }
</style>


<form class="form-signin" method="post">{% csrf_token %}

  <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl text-center">
        Chain
  </p>

  <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-green-600 sm:text-4xl text-center">
        'Taking influencer marketting to the next level'
  </p>

    <p>
      &nbsp;
    </p>


  <h1 class="text-base text-green-600 font-semibold tracking-wide uppercase text-center">Login</h1>
    <p>
      &nbsp;
    </p>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <p>
      &nbsp;
    </p>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <p>
      &nbsp;
    </p>
  {% for field in login_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>

  {% endif %}

  <button class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-700 md:py-4 md:text-lg md:px-10" type="submit">Log in</button>

</form>

<div class="d-flex flex-column">
  <a class="m-auto" style="color:green;" href="/password_reset"> <u>Reset password</u></a>
</div>

<div class="d-flex flex-column">
  <a class="m-auto" style="color:green;" href="/register"> <u>Don't have an Account? Sign up here</u></a>
</div>

    <p>
      &nbsp;
    </p>

{% endblock content %}
