{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
    
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3{
    text-align: center;
  }

</style>


<form class="form-signin" method="post">{% csrf_token %}

<p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl text-center">
        Chain
  </p>

  <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-green-600 sm:text-4xl text-center">
        'Taking influencer marketting to the next level'
  </p>
  
    <p>
      &nbsp;
    </p> 


  <h1 class="text-base text-green-600 font-semibold tracking-wide uppercase text-center">Register an account</h1>
    <p>
      &nbsp;
    </p>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <p>
      &nbsp;
    </p> 
  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
      <p>
      &nbsp;
    </p> 
  <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
    <p>
      &nbsp;
    </p> 
  <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>
    <p>
      &nbsp;
    </p>
  <div class="form-control">
    <label name="type_client" class="text-muted">Type of Account</label>
    <select class="form-control" id="inputType" required>
      <option>Promoter</option>
      <option>Company</option>
    </select>
  </div>

  {% for field in registration_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if registration_form.non_field_errors %}
    <div style="color: red">
      <p>{{registration_form.non_field_errors}}</p>
    </div>
      
  {% endif %}
    <p>
      &nbsp;
    </p> 
  <button class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-700 md:py-4 md:text-lg md:px-10" type="submit">Register</button>

</form>


{% endblock content %}



