{% extends "base.html" %}
{% block content %}
{% load static %}

<script>
    $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Red', 'Blue','','','','','','', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: 'TestValues',
            data: [12, 19, 3,27,13,5,5,5,50, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',

                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    });

</script>


<link rel="stylesheet" type="text/css" href="{%static 'sidebar.css'%}">

<link rel="stylesheet" type="text/css" href="{%static 'analytics1.css'%}">

<div class="container pb-2 pt-2">
	<ul class="nav nav-pills">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Analytics</a>
					</li>
				</div>
				<div class="col-3">
					<li class="nav-item">
						<a class="nav-link active" href="#">Profile</a>
					</li>
				</div>
				<div class="col-2">
					<li class="nav-item">
						<a class="nav-link active" href="#">Messages</a>
					</li>
				</div>
				<div class="col-2">
					<li class="nav-item">
						<a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Business</a>
					</li>
				</div>
				<div class="col-2">
					<li class="nav-item">
						<a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Business</a>
					</li>
				</div>
			</div>
		</div>
	</ul>
</div>

<div class="row">
  <div class="col-1 bg-danger">

  </div>
	<div class="col">
		<div class="header bg-gradient-primary pb-8 pt-5">
			<div class="container">
				<div class="header-body">
					<!--    CARD ONE   -->
					<div class="row">
						<div class="col">
							<div class="card card-stats mb-4 mb-xl-0">
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Like Number</h5>
											<span class="h2 font-weight-bold mb-0">350,897</span>
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-danger text-white rounded-circle shadow">
												<i class="fas fa-chart-bar"></i>
											</div>
										</div>
									</div>
									<p class="mt-3 mb-0 text-muted text-sm">
										<span class="text-success mr-2">
											<i class="fa fa-arrow-up"></i> 3.48%

										</span>
										<span class="text-nowrap">Since last month</span>
									</p>
								</div>
							</div>
						</div>
						<!--    CARD TWO   -->
						<div class="col">
							<div class="card card-stats mb-4 mb-xl-0">
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">New followers</h5>
											<span class="h2 font-weight-bold mb-0">2,356</span>
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-warning text-white rounded-circle shadow">
												<i class="fas fa-chart-pie"></i>
											</div>
										</div>
									</div>
									<p class="mt-3 mb-0 text-muted text-sm">
										<span class="text-danger mr-2">
											<i class="fas fa-arrow-down"></i> 3.48%

										</span>
										<span class="text-nowrap">Since last week</span>
									</p>
								</div>
							</div>
						</div>
						<!--    CARD THREE-->
						<div class="col">
							<div class="card card-stats mb-4 mb-xl-0">
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
											<span class="h2 font-weight-bold mb-0">924</span>
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
												<i class="fas fa-users"></i>
											</div>
										</div>
									</div>
									<p class="mt-3 mb-0 text-muted text-sm">
										<span class="text-warning mr-2">
											<i class="fas fa-arrow-down"></i> 1.10%

										</span>
										<span class="text-nowrap">Since yesterday</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-stats mb-4 mb-xl-0">
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Audience</h5>
											<span class="h2 font-weight-bold mb-0">924</span>
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
												<i class="fas fa-users"></i>
											</div>
										</div>
									</div>
									<p class="mt-3 mb-0 text-muted text-sm">
										<span class="text-warning mr-2">
											<i class="fas fa-arrow-down"></i> 1.10%

										</span>
										<span class="text-nowrap">Since yesterday</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="container-fluid" style="background-color:black">
								<div class="p-3 w-25">
									<canvas id="myChart" width="200" height="200"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-4 bg-dark"></div>
					</div>



					<!--                  NEW ROW-->
					<div class="row pt-4">
                        <div class="col-md-4 bg-dark ">
                            <div class="container-fluid p-3">
                                <div class="card " style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 bg-danger ">
                            <div class="container-fluid p-3">
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
						</div>
                    </div>
                </div>
				</div>
			</div>
		</div>

	</div>





{% endblock %}
